.footer {
    text-align: center; 
    overflow-x: hidden;
    text-align: center;
    display: flex;
    padding: 30px 0;
    background-color: $primary-white;
    margin: 100px 0 0 0;
    min-width: 100vw;
    left: 0;
    bottom: 0;
  }

.column-50-footer{
    width: 50%;
    display: inline-block;
    text-align: center;
}

.logo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-footer{
    margin-top: 20px;
    border: none;
    padding-right: 30px;
    color: $primary-black;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-size: 12.5px;
    background-color: $primary-white;
}