.frame{
    background-color: $background-gray;
    text-align: center;
    padding-top: 175px;
    padding-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

.logo{
    width: 60px;
    height: auto;
    padding-bottom: 30px;
}

.inputform{
    background-color: $primary-white;
    width: 35%;
    padding: 30px;
    display: inline-block;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.large{
    width: 95%;
}

.placeholder{
    text-align: left;
}

.radio{
    float: left;
}

* {
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }

.field, .fieldAgent, .price{
    width: 100%;
    height: 30px;
    padding: 5px 0px 5px 5px;
    //border-radius: 7px;
    border-style: 2px solid;
    border-color: $primary-gray;
    text-align: left;
    float: left;
    // background-color: white;
    // 
}


.left{
    width: 95%;
}

// .fieldAgent, .price{
//     width: 90%;
//     float: right;
// }

// .price{
//     height: 30px;
//     border-radius: 7px;
//     border: 2px solid;
//     border-color: $primary-gray;
//     float: left;
// }

.column-50 {
    float: left;
    width: 50%;    
}

.column-25 {
    float: left;
    width: 25%;
}

.column-33 {
    float: left;
    width: 33.33%;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.link{
    color: $primary-black;
    padding-right: 15px;
    border: none;
    text-decoration: underline;
    background-color: $primary-white;
    cursor: pointer;
}

.button{
    margin-top: 20px;
    background-color: $accent-blue;
    border: none;
    padding: 10px 15px;
    border-radius: 7px;
    color: $primary-white;
    cursor: pointer;
}

.button:hover, .buttonAgent:hover{
    background-color: darken($accent-blue, 10%);
    
}

.errorhandler{
    text-align: left;
    font-size: 13px;
    color: red;
}

#referral{
    text-align: right;
}