.nav{
    background-color: $accent-blue;
    color: $primary-white;
    overflow: hidden;
    width: 100%;
    padding-left: 9%;
    padding-right: 9%;
    height: 100px;
    position: fixed;
    align-items: center;
    top: 0;
}
.nav-list{
    list-style: none;
    display: flex;
    position: fixed;
}

.nav-list-item {
    margin: 20px;  
    //margin-left: 20px;
    text-align: center;
    border: none;
    background: none;
    color: $primary-white;
    font-size: $font-size-nav;
    border-radius: 0px;
    text-decoration: none;
    padding-bottom: 5px;
    
    &:hover{            
        cursor: pointer;
        text-decoration: none;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: $primary-white;
        width: fit-content;
    }

    &:active{
        cursor: pointer;
        text-decoration: none;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: $primary-blue;
        width: fit-content;
    }

    
}

.nav-list-item-logo{
    margin-right: 20px;
    padding-top: 5px;
    //margin-left: 20px;
    border: none;
    background: none;
    border-radius: 0px;
    text-decoration: none;

    &:hover{            
        cursor: pointer;
    }

    &:active{
        cursor: pointer;
    }
}

.logo-nav{
    width: auto;
    height: 45px;
    text-align: center;
}

