@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.nav{
    background-color: $accent-blue;
    color: $primary-white;
    overflow: hidden;
    width: 100%;
    padding-left: 8%;
    height: 100px;
    position: fixed;
    align-items: center;
    top: 0;
    z-index: 25;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list-item {
    margin: 20px;  
    display: inline-block;
    //margin-left: 20px;
    text-align: center;
    border: none;
    background: none;
    color: $primary-white;
    font-size: $font-size-nav;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0px;
    text-decoration: none;
    padding-bottom: 5px;
    
    &:hover{            
        cursor: pointer;
        text-decoration: none;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: $accent-orange;
        width: fit-content;
    }

    &:active{
        cursor: pointer;
        text-decoration: none;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: $accent-orange;
        width: fit-content;

    } 
}

.nav-list-item-logo{
    margin-right: 20px;
    padding-top: 5px;
    //margin-left: 20px;
    border: none;
    background: none;
    border-radius: 0px;
    text-decoration: none;

    &:hover{            
        cursor: pointer;
    }

    &:active{
        cursor: pointer;
    }
}

.logo-nav{
    width: auto;
    height: 45px;
    text-align: center;
}


